stages:
  - deploy

deploy_ubuntu:
  stage: deploy
  script:
    - if [[ "$CI_PROJECT_NAMESPACE" != "aiursoft" ]]; then
        echo "CI pipeline will only run for the Aiursoft namespace.";
        exit 1;
      fi
    - if [ "$CI_COMMIT_REF_NAME" = "master" ]; then TAG="latest"; else TAG="$CI_COMMIT_REF_NAME"; fi
    - echo "Building image hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/ubuntu:$TAG"
    - docker build ./Ubuntu -t hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/ubuntu:$TAG
    - echo "Logging in to Docker Registry..."
    - echo "$LOCAL_DOCKER_PASSWORD" | docker login hub.aiursoft.com -u "$LOCAL_DOCKER_USERNAME" --password-stdin
    - docker save -o temp.tar hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/ubuntu:$TAG
    - regctl image import hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/ubuntu:$TAG temp.tar
    - rm ./temp.tar
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy_ubuntu_with_docker:
  stage: deploy
  needs:
    - deploy_ubuntu
  script:
    - if [[ "$CI_PROJECT_NAMESPACE" != "aiursoft" ]]; then
        echo "CI pipeline will only run for the Aiursoft namespace.";
        exit 1;
      fi
    - if [ "$CI_COMMIT_REF_NAME" = "master" ]; then TAG="latest"; else TAG="$CI_COMMIT_REF_NAME"; fi
    - echo "Building image hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/ubuntu-with-docker:$TAG"
    - docker build ./Ubuntu-with-docker -t hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/ubuntu-with-docker:$TAG
    - echo "Logging in to Docker Registry..."
    - echo "$LOCAL_DOCKER_PASSWORD" | docker login hub.aiursoft.com -u "$LOCAL_DOCKER_USERNAME" --password-stdin
    - docker save -o temp.tar hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/ubuntu-with-docker:$TAG
    - regctl image import hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/ubuntu-with-docker:$TAG temp.tar
    - rm ./temp.tar
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy_exp_ppa_mirror:
  stage: deploy
  needs:
    - deploy_ubuntu
  script:
    - if [[ "$CI_PROJECT_NAMESPACE" != "aiursoft" ]]; then
        echo "CI pipeline will only run for the Aiursoft namespace.";
        exit 1;
      fi
    - if [ "$CI_COMMIT_REF_NAME" = "master" ]; then TAG="latest"; else TAG="$CI_COMMIT_REF_NAME"; fi
    - echo "Building image hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/exp-ppa-mirror:$TAG"
    - docker build ./ExpPpaMirror -t hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/exp-ppa-mirror:$TAG
    - echo "Logging in to Docker Registry..."
    - echo "$LOCAL_DOCKER_PASSWORD" | docker login hub.aiursoft.com -u "$LOCAL_DOCKER_USERNAME" --password-stdin
    - docker save -o temp.tar hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/exp-ppa-mirror:$TAG
    - regctl image import hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/exp-ppa-mirror:$TAG temp.tar
    - rm ./temp.tar
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy_lab:
  stage: deploy
  needs:
    - deploy_ubuntu
  script:
    - if [[ "$CI_PROJECT_NAMESPACE" != "aiursoft" ]]; then
        echo "CI pipeline will only run for the Aiursoft namespace.";
        exit 1;
      fi
    - if [ "$CI_COMMIT_REF_NAME" = "master" ]; then TAG="latest"; else TAG="$CI_COMMIT_REF_NAME"; fi
    - echo "Building image hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/lab:$TAG"
    - docker build ./Lab -t hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/lab:$TAG
    - echo "Logging in to Docker Registry..."
    - echo "$LOCAL_DOCKER_PASSWORD" | docker login hub.aiursoft.com -u "$LOCAL_DOCKER_USERNAME" --password-stdin
    - docker save -o temp.tar hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/lab:$TAG
    - regctl image import hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/lab:$TAG temp.tar
    - rm ./temp.tar
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy_kiwix:
  stage: deploy
  needs:
    - deploy_ubuntu
  script:
    - if [[ "$CI_PROJECT_NAMESPACE" != "aiursoft" ]]; then
        echo "CI pipeline will only run for the Aiursoft namespace.";
        exit 1;
      fi
    - if [ "$CI_COMMIT_REF_NAME" = "master" ]; then TAG="latest"; else TAG="$CI_COMMIT_REF_NAME"; fi
    - echo "Building image hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/kiwix:$TAG"
    - docker build ./Kiwix -t hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/kiwix:$TAG
    - echo "Logging in to Docker Registry..."
    - echo "$LOCAL_DOCKER_PASSWORD" | docker login hub.aiursoft.com -u "$LOCAL_DOCKER_USERNAME" --password-stdin
    - docker save -o temp.tar hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/kiwix:$TAG
    - regctl image import hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/kiwix:$TAG temp.tar
    - rm ./temp.tar
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy_dotnet:
  stage: deploy
  needs:
    - deploy_ubuntu
  script:
    - if [[ "$CI_PROJECT_NAMESPACE" != "aiursoft" ]]; then
        echo "CI pipeline will only run for the Aiursoft namespace."; exit 1;
      fi
    - if [ "$CI_COMMIT_REF_NAME" = "master" ]; then TAG="latest"; else TAG="$CI_COMMIT_REF_NAME"; fi
    - echo "Building image hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/dotnet:$TAG"
    - docker build ./Dotnet -t hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/dotnet:$TAG
    - echo "Logging in to Docker Registry..."
    - echo "$LOCAL_DOCKER_PASSWORD" | docker login hub.aiursoft.com -u "$LOCAL_DOCKER_USERNAME" --password-stdin
    - docker save -o temp.tar hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/dotnet:$TAG
    - regctl image import hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/dotnet:$TAG temp.tar
    - rm ./temp.tar
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy_dotnet_only_runtime:
  stage: deploy
  needs:
    - deploy_ubuntu
  script:
    - if [[ "$CI_PROJECT_NAMESPACE" != "aiursoft" ]]; then
        echo "CI pipeline will only run for the Aiursoft namespace."; exit 1;
      fi
    - if [ "$CI_COMMIT_REF_NAME" = "master" ]; then TAG="latest"; else TAG="$CI_COMMIT_REF_NAME"; fi
    - echo "Building image hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/dotnetonlyruntime:$TAG"
    - docker build ./DotnetOnlyRuntime -t hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/dotnetonlyruntime:$TAG
    - echo "Logging in to Docker Registry..."
    - echo "$LOCAL_DOCKER_PASSWORD" | docker login hub.aiursoft.com -u "$LOCAL_DOCKER_USERNAME" --password-stdin
    - docker save -o temp.tar hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/dotnetonlyruntime:$TAG
    - regctl image import hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/dotnetonlyruntime:$TAG temp.tar
    - rm ./temp.tar
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy_gateway:
  stage: deploy
  needs:
    - deploy_ubuntu
  script:
    - if [[ "$CI_PROJECT_NAMESPACE" != "aiursoft" ]]; then echo "CI pipeline will only run for the Aiursoft namespace."; exit 1; fi
    - if [ "$CI_COMMIT_REF_NAME" = "master" ]; then TAG="latest"; else TAG="$CI_COMMIT_REF_NAME"; fi
    - echo "Building image hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/gateway:$TAG"
    - docker build ./Gateway -t hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/gateway:$TAG
    - echo "Logging in to Docker Registry..."
    - echo "$LOCAL_DOCKER_PASSWORD" | docker login hub.aiursoft.com -u "$LOCAL_DOCKER_USERNAME" --password-stdin
    - docker save -o temp.tar hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/gateway:$TAG
    - regctl image import hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/gateway:$TAG temp.tar
    - rm ./temp.tar
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy_gitmirror:
  stage: deploy
  needs:
    - deploy_ubuntu
  script:
    - if [[ "$CI_PROJECT_NAMESPACE" != "aiursoft" ]]; then echo "CI pipeline will only run for the Aiursoft namespace."; exit 1; fi
    - if [ "$CI_COMMIT_REF_NAME" = "master" ]; then TAG="latest"; else TAG="$CI_COMMIT_REF_NAME"; fi
    - echo "Building image hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/gitmirror:$TAG"
    - docker build ./GitMirror -t hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/gitmirror:$TAG
    - echo "Logging in to Docker Registry..."
    - echo "$LOCAL_DOCKER_PASSWORD" | docker login hub.aiursoft.com -u "$LOCAL_DOCKER_USERNAME" --password-stdin
    - docker save -o temp.tar hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/gitmirror:$TAG
    - regctl image import hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/gitmirror:$TAG temp.tar
    - rm ./temp.tar
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy_minecraft:
  stage: deploy
  needs:
    - deploy_ubuntu
  script:
    - if [[ "$CI_PROJECT_NAMESPACE" != "aiursoft" ]]; then echo "CI pipeline will only run for the Aiursoft namespace."; exit 1; fi
    - if [ "$CI_COMMIT_REF_NAME" = "master" ]; then TAG="latest"; else TAG="$CI_COMMIT_REF_NAME"; fi
    - echo "Building image hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/minecraft:$TAG"
    - docker build ./Minecraft -t hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/minecraft:$TAG
    - echo "Logging in to Docker Registry..."
    - echo "$LOCAL_DOCKER_PASSWORD" | docker login hub.aiursoft.com -u "$LOCAL_DOCKER_USERNAME" --password-stdin
    - docker save -o temp.tar hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/minecraft:$TAG
    - regctl image import hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/minecraft:$TAG temp.tar
    - rm ./temp.tar
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy_nvidia:
  stage: deploy
  script:
    - if [[ "$CI_PROJECT_NAMESPACE" != "aiursoft" ]]; then echo "CI pipeline will only run for the Aiursoft namespace."; exit 1; fi
    - if [ "$CI_COMMIT_REF_NAME" = "master" ]; then TAG="latest"; else TAG="$CI_COMMIT_REF_NAME"; fi
    - echo "Building image hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/nvidia:$TAG"
    - docker build ./Nvidia -t hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/nvidia:$TAG
    - echo "Logging in to Docker Registry..."
    - echo "$LOCAL_DOCKER_PASSWORD" | docker login hub.aiursoft.com -u "$LOCAL_DOCKER_USERNAME" --password-stdin
    - docker save -o temp.tar hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/nvidia:$TAG
    - regctl image import hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/nvidia:$TAG temp.tar
    - rm ./temp.tar
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy_swinir:
  stage: deploy
  needs:
    - deploy_nvidia
  script:
    - if [[ "$CI_PROJECT_NAMESPACE" != "aiursoft" ]]; then echo "CI pipeline will only run for the Aiursoft namespace."; exit 1; fi
    - if [ "$CI_COMMIT_REF_NAME" = "master" ]; then TAG="latest"; else TAG="$CI_COMMIT_REF_NAME"; fi
    - echo "Building image hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/swinir:$TAG"
    - docker build ./SwinIR -t hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/swinir:$TAG
    - echo "Logging in to Docker Registry..."
    - echo "$LOCAL_DOCKER_PASSWORD" | docker login hub.aiursoft.com -u "$LOCAL_DOCKER_USERNAME" --password-stdin
    - docker save -o temp.tar hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/swinir:$TAG
    - regctl image import hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/swinir:$TAG temp.tar
    - rm ./temp.tar
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy_youtubedl:
  stage: deploy
  needs:
    - deploy_ubuntu
  script:
    - if [[ "$CI_PROJECT_NAMESPACE" != "aiursoft" ]]; then echo "CI pipeline will only run for the Aiursoft namespace."; exit 1; fi
    - if [ "$CI_COMMIT_REF_NAME" = "master" ]; then TAG="latest"; else TAG="$CI_COMMIT_REF_NAME"; fi
    - echo "Building image hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/youtubedl:$TAG"
    - docker build ./Youtubedl -t hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/youtubedl:$TAG
    - echo "Logging in to Docker Registry..."
    - echo "$LOCAL_DOCKER_PASSWORD" | docker login hub.aiursoft.com -u "$LOCAL_DOCKER_USERNAME" --password-stdin
    - docker save -o temp.tar hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/youtubedl:$TAG
    - regctl image import hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/youtubedl:$TAG temp.tar
    - rm ./temp.tar
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'

deploy_reportertts:
  stage: deploy
  needs:
    - deploy_nvidia
  script:
    - if [[ "$CI_PROJECT_NAMESPACE" != "aiursoft" ]]; then echo "CI pipeline will only run for the Aiursoft namespace."; exit 1; fi
    - if [ "$CI_COMMIT_REF_NAME" = "master" ]; then TAG="latest"; else TAG="$CI_COMMIT_REF_NAME"; fi
    - echo "Building image hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/reportertts:$TAG"
    - docker build ./ReporterTTS -t hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/reportertts:$TAG
    - echo "Logging in to Docker Registry..."
    - echo "$LOCAL_DOCKER_PASSWORD" | docker login hub.aiursoft.com -u "$LOCAL_DOCKER_USERNAME" --password-stdin
    - docker save -o temp.tar hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/reportertts:$TAG
    - regctl image import hub.aiursoft.com/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/reportertts:$TAG temp.tar
    - rm ./temp.tar
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'